Data analysis of Danny's diner case study using SQL.

**Introduction**

Danny seriously loves Japanese food so in the beginning of 2021, he decides to embark upon a risky venture and opens up a cute little restaurant that sells his 3 favourite foods: sushi, curry and ramen.

Danny’s Diner is in need of your assistance to help the restaurant stay afloat - the restaurant has captured some very basic data from their few months of operation but have no idea how to use their data to help them run the business.

**Problem Statement**

Danny wants to use the data to answer a few simple questions about his customers, especially about their visiting patterns, how much money they’ve spent and also which menu items are their favourite. Having this deeper connection with his customers will help him deliver a better and more personalised experience for his loyal customers.

He plans on using these insights to help him decide whether he should expand the existing customer loyalty program - additionally he needs help to generate some basic datasets so his team can easily inspect the data without needing to use SQL.

Danny has provided you with a sample of his overall customer data due to privacy issues - but he hopes that these examples are enough for you to write fully functioning SQL queries to help him answer his questions!

Danny has shared with you 3 key datasets for this case study:

Sales menu members You can inspect the entity relationship diagram and example data below:-

![sqlimage.png](https://i.postimg.cc/2jsCkkk1/sqlimage.png)

Example Datasets

All datasets exist within the dannys_diner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

Table 1: sales

The sales table captures all customer_id level purchases with an corresponding order_date and product_id information for when and what menu items were ordered.

Table 2: menu

The menu table maps the product_id to the actual product_name and price of each menu item.

Table 3: members

The final members table captures the join_date when a customer_id joined the beta version of the Danny’s Diner loyalty program.

In [16]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.8/dist-packages (1.0.2)

In [17]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool

In [18]:
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:                                      # e denoted as a Exception
        print(e)

**1. What is the total amount each customer spent at the restaurant?**

In [19]:

mysql(''' SELECT s.customer_id, sum(m.price)
          FROM sales AS s INNER JOIN menu AS m ON s.product_id = m.product_id 
          GROUP BY s.customer_id''')

  customer_id  sum(m.price)
0           A          76.0
1           B          74.0
2           C          36.0

**2. What was the first item from the menu purchased by each customer?**

In [20]:

mysql(''' SELECT DISTINCT s.customer_id, m.product_name 
          FROM sales AS s INNER JOIN menu AS m ON s.product_id = m.product_id
          WHERE (s.customer_id, s.order_date) IN ( SELECT  customer_id, MIN(order_date)
                                                   FROM sales  
                                                   GROUP BY customer_id)''')

  customer_id product_name
0           A        sushi
1           A        curry
2           B        curry
3           C        ramen

**3. How many days has each customer visited the restaurant?**

In [21]:

mysql('''SELECT customer_id, COUNT( DISTINCT order_date) AS visit_count
         FROM sales
         GROUP BY customer_id;''')

  customer_id  visit_count
0           A            4
1           B            6
2           C            2

**4. What is the most purchased item on the menu and how many times was it purchased by all customers?**

In [22]:

mysql(''' SELECT COUNT(*) AS most_purchased, product_name
          FROM sales AS a INNER JOIN menu AS b ON a.product_id = b.product_id
          GROUP BY b.product_name
          ORDER BY most_purchased DESC; ''')

   most_purchased product_name
0               8        ramen
1               4        curry
2               3        sushi

**5. Which item was the most popular for each customer?**

In [23]:

mysql(''' SELECT a.customer_id, b.product_name, COUNT(a.product_id) AS order_count
          FROM sales AS a INNER JOIN menu AS b ON a.product_id = b.product_id
          GROUP BY a.customer_id, a.product_id 
          HAVING (a.customer_id, order_count) IN (SELECT c.customer_id, MAX(order_count) AS max_order
                                                  FROM  (SELECT customer_id, product_id, COUNT(product_id) AS order_count
                                                         FROM sales
                                                         GROUP BY customer_id, product_id) AS c
                                                  GROUP BY customer_id ); ''')

  customer_id product_name  order_count
0           A        ramen            3
1           B        curry            2
2           B        sushi            2
3           B        ramen            2
4           C        ramen            3

**6. Which item was purchased first by the customer after they became a member?**

In [24]:

mysql( ''' SELECT a.customer_id, DATE_FORMAT(a.order_date,"%%Y-%%m-%%eT%%H:%%i:%%S.%%fZ") AS order_date, b.product_name
           FROM sales AS a INNER JOIN menu AS b ON a.product_id = b.product_id
           WHERE (a.customer_id, a.order_date) IN (SELECT a.customer_id, MIN(a.order_date)
                                                   FROM sales AS a INNER JOIN members AS b ON a.customer_id = b.customer_id
                                                   WHERE a.order_date >= b.join_date
                                                   GROUP BY a.customer_id)   ''')

  customer_id                   order_date product_name
0           A   2021-01-7T00:00:00.000000Z        curry
1           B  2021-01-11T00:00:00.000000Z        sushi

**7. Which item was purchased just before the customer became a member?**

In [25]:

mysql( ''' SELECT a.customer_id, DATE_FORMAT(a.order_date,"%%Y-%%m-%%d T %%H:%%i:%%fZ") AS order_date, b.product_name
           FROM sales AS a INNER JOIN menu AS b ON a.product_id = b.product_id
           WHERE (a.customer_id, a.order_date) IN (SELECt a.customer_id, MAX(a.order_date)
                                                   FROM sales AS a INNER JOIN members AS b ON a.customer_id = b.customer_id
                                                   WHERE a.order_date < b.join_date
                                                   GROUP BY a.customer_id)  
                                                   ORDER BY order_date DESC ''')

  customer_id                  order_date product_name
0           B  2021-01-04 T 00:00:000000Z        sushi
1           A  2021-01-01 T 00:00:000000Z        sushi
2           A  2021-01-01 T 00:00:000000Z        curry

**8. What is the total items and amount spent for each member before they became a member?**

In [26]:

mysql(''' SELECT a.customer_id, COUNT(DISTINCT a.product_id) AS unique_menu_item ,FORMAT( SUM(c.price) ,0) AS total_sales
          FROM sales AS a INNER JOIN members AS b ON a.customer_id = b.customer_id INNER JOIN menu AS c ON a.product_id = c.product_id
          WHERE a.order_date < b.join_date
          GROUP BY a.customer_id ''')

  customer_id  unique_menu_item total_sales
0           A                 2          25
1           B                 2          40

**9. If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?**

In [27]:
mysql(''' SELECT a.customer_id,FORMAT(SUM(CASE b.product_name  WHEN  'sushi' THEN 20*b.price ELSE 10*b.price END ),0)   AS total_points
          FROM sales AS a INNER JOIN menu AS b ON a.product_id = b.product_id
          GROUP BY a.customer_id''')

  customer_id total_points
0           A          860
1           B          940
2           C          360

**10. Join All The Things. Recreate the table with: customer_id, order_date, product_name, price, member (Y/N).**

In [28]:

mysql(''' SELECT a.customer_id, a.order_date, c.product_name, c.price, 
                 CASE WHEN b.join_date IS NOT NULL THEN (CASE WHEN a.order_date< b.join_date THEN 'N' ELSE 'Y' END) ELSE 'N' END AS member
          FROM sales AS a LEFT JOIN members AS b ON a.customer_id = b.customer_id
                          INNER JOIN menu AS c ON a.product_id = c.product_id''')

   customer_id  order_date product_name  price member
0            A  2021-01-01        sushi     10      N
1            A  2021-01-01        curry     15      N
2            A  2021-01-07        curry     15      Y
3            A  2021-01-10        ramen     12      Y
4            A  2021-01-11        ramen     12      Y
5            A  2021-01-11        ramen     12      Y
6            B  2021-01-01        curry     15      N
7            B  2021-01-02        curry     15      N
8            B  2021-01-04        sushi     10      N
9            B  2021-01-11        sushi     10      Y
10           B  2021-01-16        ramen     12      Y
11           B  2021-02-01        ramen     12      Y
12           C  2021-01-01        ramen     12      N
13           C  2021-01-01        ramen     12      N
14           C  2021-01-07        ramen     12      N